h1,h2,h3,h4,p
{
	font-family: 'Lato', sans-serif !important;
}

p
{
	font-weight: 300;
}

.wrapper
{
	height: 100%;
  	padding: 50px;
  	vertical-align: middle;
	text-align: center;
  	display: table-cell;
}

/**************************/
/****** HEADER STUFF ******/
/**************************/

.header-section
{
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 50px 0px;
	display: table;
	/*background-color: #3498db;*/
	background-image: url("../docs/header.jpg");
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
}

.header-section .linkRow
{
	width: 40%;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	font-family: 'Lato', sans-serif !important;
}

.header-section a
{
	text-decoration: none;
	color: #FFFFFF;
}

.header-section a:hover
{
	text-decoration: underline;
	color: #FFFFFF;
}

.header-section h1
{
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

.header-section h4
{
	font-size: 30px;
	font-weight: 300;
}

.header-container
{
	text-align: center;
}

@media screen and (max-width: 1380px)
{
	.header-section .linkRow
	{
		width: 50%;
	}
}

@media screen and (max-width: 1000px)
{
	.header-section .linkRow
	{
		width: 90%;
	}

	.header-section .linkRow .col-sm-4
	{
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 500px)
{
	.wrapper
	{
		padding: 0px;
	}
	.header-section h1
	{
		font-size: 35px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

/**************************/
/****** ABOUT SECTION ******/
/**************************/

.about-section
{
	width: 100%;
	text-align: center;
}

.about-section .about-wrapper
{
	padding: 20px 50px;
}

.about-section .section-title
{
	width: 100%;
	color: #3498db;
	font-size: 40px;
	font-weight: 700;
}

.about-section .description
{
	font-size: 20px;
	padding: 25px 0px;
}


/**************************/
/****** ABOUT SECTION ******/
/**************************/

.projects-section
{
	width: 100%;
	text-align: center;
	background-color: #3498db;
	color: #FFFFFF;
}

.projects-section .projects-wrapper
{
	padding: 20px 50px;
}

.projects-section .section-title
{
	width: 100%;
	font-size: 40px;
	font-weight: 700;
}

/****************************/
/****** Typed.js stuff ******/
/****************************/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
